#app-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  selector:
    matchLabels:
      app: app
  replicas: 2
  template:
    metadata:
      labels:
        app: app
    spec:
      volumes:
      - name: staticfiles
        persistentVolumeClaim:
          claimName: staticfiles
      containers:
      - name: app
        image: selimica/website-app:38
        volumeMounts:
        - mountPath: "/static"
          name: staticfiles
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: app-secret
        - configMapRef:
            name: app-configmap

